@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.image {
  max-height: 80px;
}

.my-navbar-brand {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: block;
}

.my-navbar-brand span {
  font-size: 1.8rem;
  margin-left: 1rem;
  color: #034256;
}

.footer {
  font-size: 1.3rem;
  display: block;
  background-color: #f8f9fa;
  padding: 1rem;
  color: #034256;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rrss-container a {
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #034256;
}

.container {
  background-color: #034256;
}

.sample {
  font-size: 2rem;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 400px) {
  .sample {
    font-size: 3rem;
  }
}
